Repository L1nkWave/Chat, pull requests merged in 2024-03, with the labels that each got.

#34 feature/LWF-9_chat-home-page
  frontend/.eslintignore
  frontend/public/icons/chat-plus-outline.svg
  frontend/public/icons/group-outline.svg
  frontend/public/icons/index.ts
  frontend/public/icons/setting-outline.svg
  frontend/public/icons/sign-out-circle.svg
  frontend/public/images/ChatPage/backend-fall.gif
  frontend/public/images/HomePageParallax/back-wave.svg
  frontend/public/images/HomePageParallax/front-wave.svg
  frontend/public/images/HomePageParallax/link.svg
  frontend/public/images/HomePageParallax/middle-wave.svg
  frontend/public/images/HomePageParallax/stroke.svg
  frontend/src/app/chat/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/Chat/Chat.tsx
  frontend/src/components/Chat/ChatItem/ChatItem.tsx
  frontend/src/components/Chat/ChatList/ChatList.tsx
  frontend/src/components/Chat/ChatList/chatList.css
  frontend/src/components/Chat/SideBar/SideBar.tsx
  frontend/src/components/Chat/SideBar/sideBar.config.ts
  frontend/src/components/Chat/chat.config.ts
  frontend/src/components/Chat/chat.types.ts
  frontend/src/components/Chat/chat.utils.ts
  frontend/src/components/Container/Container.tsx
  frontend/src/components/Container/container.types.ts
  frontend/src/components/CustomButton/CustomButton.tsx
  frontend/src/components/CustomButton/customButton.config.ts
  frontend/src/components/CustomButton/customButton.types.ts
  frontend/src/components/HomePageParallax/HomePageParallax.tsx
  frontend/src/utils/colors.ts
  frontend/tailwind.config.ts
Labels: enhancement, frontend

#36 fix/LWB-21_resolve_application_placeholder
  backend/chat-service/src/test/resources/application.yml
Labels: backend

#37 feature/LW-4_deny-merge-for-failed-tests
  .github/workflows/maven.yml
Labels: enhancement, help wanted

#38 fix/LWB-22_user-registration
  backend/user-service/src/main/java/org/linkwave/userservice/entity/UserEntity.java
  backend/user-service/src/main/java/org/linkwave/userservice/service/impl/DefaultUserService.java
  backend/user-service/src/test/java/org/linkwave/userservice/unit/UserServiceUnitTest.java
Labels: backend

#39 feature/LWB-23_user-avatar-support
  backend/chat-service/src/main/java/org/linkwave/chatservice/ChatServiceApplication.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatServiceImpl.java
  backend/shared/src/main/java/org/linkwave/shared/storage/FileStorageService.java
  backend/shared/src/main/java/org/linkwave/shared/storage/LocalFileStorageService.java
  backend/shared/src/main/java/org/linkwave/shared/storage/StorageService.java
  backend/user-service/src/main/java/org/linkwave/userservice/UserServiceApplication.java
  backend/user-service/src/main/java/org/linkwave/userservice/controller/RestControllerExceptionHandler.java
  backend/user-service/src/main/java/org/linkwave/userservice/controller/UserController.java
  backend/user-service/src/main/java/org/linkwave/userservice/exception/ResourceNotFoundException.java
  backend/user-service/src/main/java/org/linkwave/userservice/exception/UnacceptableRequestDataException.java
  backend/user-service/src/main/java/org/linkwave/userservice/service/UserService.java
  backend/user-service/src/main/java/org/linkwave/userservice/service/impl/DefaultUserService.java
  backend/user-service/src/main/resources/application.yml
  backend/user-service/src/main/resources/static/api/v1/users/images/placeholder
  backend/user-service/src/main/resources/static/openapi.json
  backend/user-service/src/test/java/org/linkwave/userservice/unit/UserServiceUnitTest.java
  backend/user-service/src/test/resources/application.yml
Labels: documentation, enhancement, backend

#40 feature/LWB-24_filter-users-global-searching
  backend/docker-compose.yml
  backend/user-service/src/main/java/org/linkwave/userservice/controller/UserController.java
  backend/user-service/src/main/java/org/linkwave/userservice/repository/UserRepository.java
  backend/user-service/src/main/java/org/linkwave/userservice/service/UserService.java
  backend/user-service/src/main/java/org/linkwave/userservice/service/impl/DefaultUserService.java
  backend/user-service/src/test/java/org/linkwave/userservice/unit/UserServiceUnitTest.java
Labels: enhancement, backend
