Repository L1nkWave/Chat, pull requests merged in 2024-05, with the labels that each got.

#59 feature/LWF-13_sidebar-update
  frontend/next.config.js
  frontend/public/avatars/user/avatar1.png
  frontend/public/avatars/user/avatar2.png
  frontend/public/avatars/user/avatar3.png
  frontend/public/avatars/user/avatar4.png
  frontend/public/avatars/user/avatar5.png
  frontend/public/avatars/user/avatar6.png
  frontend/public/icons/add-chat-outline.svg
  frontend/public/icons/chat-plus-outline.svg
  frontend/public/icons/find-people-outline.svg
  frontend/public/icons/group-outline.svg
  frontend/public/icons/index.ts
  frontend/public/icons/setting-outline.svg
  frontend/src/api/http/auth/auth.ts
  frontend/src/api/socket/index.ts
  frontend/src/components/Chat/Chat.tsx
  frontend/src/components/Chat/InteractiveList/InteractiveList.tsx
  frontend/src/components/Chat/InteractiveList/variants/ChatList/ChatList.tsx
  frontend/src/components/Chat/SideBar/sidebar.config.ts
  frontend/src/components/Chat/SideBar/sidebar.types.ts
  frontend/src/components/Chat/chat.config.ts
  frontend/src/components/CustomButton/CustomButton.tsx
  frontend/src/components/CustomButton/customButton.config.ts
  frontend/src/components/Icon/icon.settings.ts
  frontend/src/context/SocketContext/SocketContext.tsx
  frontend/src/context/SocketContext/SocketProvider/SocketProvider.tsx
  frontend/src/context/SocketContext/socketContext.types.ts
  frontend/src/lib/store.ts
Labels: enhancement, frontend

#60 feature/LWB-40_rename-subroute
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/route/ChatRoutes.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/route/GroupChatRoutes.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/Payload.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/RouteComponent.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/args/RouteHandlerArgumentResolver.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/bpp/Broadcast.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/bpp/Endpoint.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/bpp/WebSocketRoute.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/bpp/WebSocketRouterBeanPostProcessor.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/broadcast/BroadcastManager.java
  backend/ws-server/src/test/java/org/linkwave/ws/unit/DefaultRouteHandlerArgumentResolverTest.java
  backend/ws-server/src/test/java/org/linkwave/ws/unit/FlexBroadcastManagerTest.java
  backend/ws-server/src/test/java/org/linkwave/ws/unit/WebSocketRouterBroadcastTest.java
  backend/ws-server/src/test/java/org/linkwave/ws/unit/WebSocketRouterImplTest.java
Labels: enhancement, backend

#61 feature/LWB-41_fetch-sorted-contacts
  backend/user-service/src/main/java/org/linkwave/userservice/service/impl/ContactServiceImpl.java
Labels: enhancement, backend

#62 feature/LWF-14_adding-contacts
  frontend/public/icons/index.ts
  frontend/src/api/http/chat/chat.ts
  frontend/src/api/http/contacts/contacts.ts
  frontend/src/api/http/contacts/contacts.types.ts
  frontend/src/api/http/index.ts
  frontend/src/api/http/users/users.ts
  frontend/src/api/http/users/users.types.ts
  frontend/src/components/Avatar/Avatar.tsx
  frontend/src/components/Chat/Chat.tsx
  frontend/src/components/Chat/InteractiveList/InteractiveList.tsx
  frontend/src/components/Chat/InteractiveList/interactiveList.types.ts
  frontend/src/components/Chat/InteractiveList/variants/GlobalContactList/GlobalContactList.tsx
  frontend/src/components/Chat/MainBox/MainBox.tsx
  frontend/src/components/Chat/MainBox/mainBox.types.ts
  frontend/src/components/Chat/MainBox/variants/UserInfoBox/UserInfoBox.tsx
  frontend/src/components/Chat/MainBox/variants/UserInfoBox/userInfoBox.types.ts
  frontend/src/components/Chat/SideBar/sidebar.config.ts
  frontend/src/components/Chat/SideBar/sidebar.types.ts
  frontend/src/components/Chat/UserItem/userItem.types.ts
  frontend/src/components/Chat/UserItem/variants/ChatItem.tsx
  frontend/src/components/Chat/UserItem/variants/ContactItem.tsx
  frontend/src/components/Chat/chat.types.ts
  frontend/src/components/Icon/icon.settings.ts
  frontend/src/helpers/contactHelpers.ts
  frontend/src/hooks/useAccessTokenEffect.ts
  frontend/src/lib/features/chat/chatSlice.config.ts
  frontend/src/lib/features/chat/chatSlice.ts
  frontend/src/lib/features/chat/chatSlice.types.ts
Labels: enhancement, frontend

#64 feature/LWF-15_online-and-offline-handling
  frontend/src/api/http/chat/chat.ts
  frontend/src/api/http/contacts/contacts.ts
  frontend/src/components/Chat/Chat.tsx
  frontend/src/components/Chat/InteractiveList/interactiveList.types.ts
  frontend/src/components/Chat/InteractiveList/variants/ContactList/ContactList.tsx
  frontend/src/components/Chat/InteractiveList/variants/GlobalContactList/GlobalContactList.tsx
  frontend/src/context/SocketContext/SocketProvider/SocketProvider.tsx
  frontend/src/context/SocketContext/socketContext.types.ts
  frontend/src/helpers/contactHelpers.ts
  frontend/src/hooks/useAccessTokenEffect.ts
Labels: enhancement, frontend

#65 feature/LWB-43_get-duochat-id
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatController.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatService.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatServiceImpl.java
  backend/chat-service/src/main/resources/static/openapi.json
Labels: documentation, enhancement, backend

#68 feature/LWF-16_chat-box
  frontend/.gitignore
  frontend/package-lock.json
  frontend/public/icons/check.svg
  frontend/public/icons/cut-check.svg
  frontend/public/icons/folder-outline.svg
  frontend/public/icons/index.ts
  frontend/public/icons/send-outline.svg
  frontend/src/api/http/chat/chat.ts
  frontend/src/api/http/contacts/contacts.ts
  frontend/src/api/http/contacts/contacts.types.ts
  frontend/src/api/http/index.ts
  frontend/src/api/http/user/user.ts
  frontend/src/components/Auth/SignInForm/SignInForm.tsx
  frontend/src/components/Auth/SignUpForm/SignUpForm.tsx
  frontend/src/components/Avatar/Avatar.tsx
  frontend/src/components/Chat/Chat.tsx
  frontend/src/components/Chat/InteractiveList/InteractiveList.tsx
  frontend/src/components/Chat/InteractiveList/interactiveList.types.ts
  frontend/src/components/Chat/InteractiveList/variants/ChatList/ChatList.tsx
  frontend/src/components/Chat/MainBox/MainBox.tsx
  frontend/src/components/Chat/MainBox/mainBox.types.ts
  frontend/src/components/Chat/MainBox/variants/ChatBox/ChatBox.tsx
  frontend/src/components/Chat/MainBox/variants/ChatBox/ChatHeader/ChatHeader.tsx
  frontend/src/components/Chat/MainBox/variants/ChatBox/ChatHeader/chatHeader.types.ts
  frontend/src/components/Chat/MainBox/variants/ChatBox/MessageBox/Message/Message.tsx
  frontend/src/components/Chat/MainBox/variants/ChatBox/MessageBox/MessageContainer/MessageContainer.tsx
  frontend/src/components/Chat/MainBox/variants/ChatBox/MessageBox/MessageContainer/messageContainer.styles.css
  frontend/src/components/Chat/MainBox/variants/ChatBox/MessageInput/MessageInput.tsx
  frontend/src/components/Chat/MainBox/variants/ChatBox/chatBox.types.ts
  frontend/src/components/Chat/MainBox/variants/UserInfoBox/UserInfoBox.tsx
  frontend/src/components/Chat/MainBox/variants/UserInfoBox/userInfoBox.types.ts
  frontend/src/components/Chat/UserItem/variants/ContactItem.tsx
  frontend/src/components/Chat/chat.types.ts
  frontend/src/components/CustomInput/CustomInput.tsx
  frontend/src/components/CustomInput/customInput.types.ts
  frontend/src/components/DoubleCheckIcon/DoubleCheckIcon.tsx
  frontend/src/components/DoubleCheckIcon/doubleCheckIcon.types.ts
  frontend/src/components/HomePageParallax/HomePageParallax.tsx
  frontend/src/components/HomePageParallax/homePageParallax.styles.css
  frontend/src/components/Icon/Icon.tsx
  frontend/src/components/Icon/icon.settings.ts
  frontend/src/components/LastSeen/LastSeen.tsx
  frontend/src/components/LastSeen/lastSeen.types.ts
  frontend/src/components/ScrollList/ScrollList.tsx
  frontend/src/components/ScrollList/scrollList.styles.css
  frontend/src/components/Status/Status.tsx
  frontend/src/components/Status/status.types.ts
  frontend/src/components/ThemeToggle/ThemeToggle.tsx
  frontend/src/constants/colors.ts
  frontend/src/context/SocketContext/SocketProvider/SocketProvider.tsx
  frontend/src/hooks/useAccessTokenEffect.ts
  frontend/src/lib/features/chat/chatSlice.config.ts
  frontend/src/lib/features/user/userSlice.config.ts
  frontend/src/lib/features/user/userSlice.ts
  frontend/src/lib/features/user/userSlice.types.ts
  frontend/src/lib/store.ts
Labels: enhancement, frontend

#67 feature/LWB-46_extended-fetch-contacts
  backend/user-service/src/main/java/org/linkwave/userservice/controller/ConstraintErrorMessages.java
  backend/user-service/src/main/java/org/linkwave/userservice/controller/ContactController.java
  backend/user-service/src/main/java/org/linkwave/userservice/controller/RestControllerExceptionHandler.java
  backend/user-service/src/main/java/org/linkwave/userservice/controller/UserController.java
  backend/user-service/src/main/java/org/linkwave/userservice/entity/ContactEntity.java
  backend/user-service/src/main/java/org/linkwave/userservice/repository/ContactRepository.java
  backend/user-service/src/main/java/org/linkwave/userservice/repository/UserRepository.java
  backend/user-service/src/main/java/org/linkwave/userservice/service/ContactService.java
  backend/user-service/src/main/java/org/linkwave/userservice/service/UserService.java
  backend/user-service/src/main/java/org/linkwave/userservice/service/impl/ContactServiceImpl.java
  backend/user-service/src/main/java/org/linkwave/userservice/service/impl/DefaultUserService.java
  backend/user-service/src/main/resources/static/openapi.json
  backend/user-service/src/test/java/org/linkwave/userservice/it/UserControllerTests.java
  backend/user-service/src/test/java/org/linkwave/userservice/unit/ContactServiceImplTest.java
  backend/user-service/src/test/java/org/linkwave/userservice/unit/UserServiceUnitTest.java
Labels: documentation, enhancement, backend

#69 feature/LWB-45_messages-pagination
  backend/chat-service/src/main/java/org/linkwave/chatservice/api/users/UserServiceClient.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatMemberDto.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatServiceImpl.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/MessageAuthorDto.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/FetchMessageMapping.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/Message.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageController.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageDto.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageRepository.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageService.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageServiceImpl.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/member/MemberMessage.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/member/MemberMessageDto.java
  backend/chat-service/src/main/resources/static/openapi.json
Labels: documentation, enhancement, backend

#70 feature/LWF-17_messages
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/icons/angle-down.svg
  frontend/public/icons/broken-link-outline.svg
  frontend/public/icons/clock-outline.svg
  frontend/public/icons/close-outline.svg
  frontend/public/icons/index.ts
  frontend/public/icons/line-horizontal.svg
  frontend/public/sound/message.mp3
  frontend/src/api/http/auth/auth.ts
  frontend/src/api/http/chat/chat.ts
  frontend/src/api/http/contacts/contacts.ts
  frontend/src/api/http/contacts/contacts.types.ts
  frontend/src/api/http/index.ts
  frontend/src/api/socket/index.ts
  frontend/src/app/layout.tsx
  frontend/src/components/Auth/auth.utils.ts
  frontend/src/components/Avatar/Avatar.tsx
  frontend/src/components/Avatar/avatar.types.ts
  frontend/src/components/Chat/Chat.tsx
  frontend/src/components/Chat/InteractiveList/InteractiveList.tsx
  frontend/src/components/Chat/InteractiveList/interactiveList.types.ts
  frontend/src/components/Chat/InteractiveList/variants/ChatList/ChatList.tsx
  frontend/src/components/Chat/MainBox/MainBox.tsx
  frontend/src/components/Chat/MainBox/mainBox.types.ts
  frontend/src/components/Chat/MainBox/variants/ChatBox/ChatBox.tsx
  frontend/src/components/Chat/MainBox/variants/ChatBox/ChatHeader/ChatHeader.tsx
  frontend/src/components/Chat/MainBox/variants/ChatBox/ChatHeader/chatHeader.types.ts
  frontend/src/components/Chat/MainBox/variants/ChatBox/MessageBox/Message/Message.tsx
  frontend/src/components/Chat/MainBox/variants/ChatBox/MessageBox/MessageContainer/MessageContainer.tsx
  frontend/src/components/Chat/MainBox/variants/ChatBox/MessageBox/MessageContainer/messageContainer.types.ts
  frontend/src/components/Chat/MainBox/variants/ChatBox/MessageInput/MessageInput.tsx
  frontend/src/components/Chat/MainBox/variants/ChatBox/chatBox.config.ts
  frontend/src/components/Chat/MainBox/variants/ChatBox/chatBox.types.ts
  frontend/src/components/Chat/MainBox/variants/UserInfoBox/UserInfoBox.tsx
  frontend/src/components/Chat/UserItem/variants/ChatItem.tsx
  frontend/src/components/Chat/UserItem/variants/ContactItem.tsx
  frontend/src/components/Chat/chat.socketHandlers.ts
  frontend/src/components/Chat/types/handlers.types.ts
  frontend/src/components/DoubleCheckIcon/DoubleCheckIcon.tsx
  frontend/src/components/HomeContainer/HomeContainer.tsx
  frontend/src/components/Icon/icon.settings.ts
  frontend/src/components/Modal/Modal.tsx
  frontend/src/components/ScrollList/ScrollList.tsx
  frontend/src/components/ScrollList/scrollList.styles.css
  frontend/src/components/ScrollList/scrollList.types.ts
  frontend/src/components/Status/Status.tsx
  frontend/src/components/ThemeToggle/ThemeToggle.tsx
  frontend/src/constants/colors.ts
  frontend/src/context/SocketContext/SocketProvider/SocketProvider.tsx
  frontend/src/context/SocketContext/socketContext.types.ts
  frontend/src/context/SoundContext/SoundContext.tsx
  frontend/src/context/SoundContext/SoundProvider.tsx
  frontend/src/helpers/DecodeToken/decodeToken.ts
  frontend/src/helpers/FormatDate/formatDate.types.ts
  frontend/src/helpers/formatSystemAlertMessage.ts
  frontend/src/hooks/useAccessTokenEffect.ts
  frontend/src/lib/features/user/userSlice.types.ts
Labels: enhancement, frontend

#71 feature/LWF-18_home-page-tutorial
  frontend/public/images/tutorial/tutorial1.png
  frontend/public/images/tutorial/tutorial2.png
  frontend/public/images/tutorial/tutorial3.png
  frontend/public/images/tutorial/tutorial4.png
  frontend/public/images/tutorial/tutorial5.png
  frontend/public/images/tutorial/tutorial6.png
  frontend/public/images/tutorial/tutorial7.png
  frontend/public/images/tutorial/tutorial8.png
  frontend/public/images/tutorial/tutorial9.png
  frontend/src/app/page.tsx
  frontend/src/app/tutorialCards.ts
  frontend/src/components/TutorialCard/TutorialCard.tsx
Labels: documentation, frontend

#72 feature/LWF-19_pagination
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/http/chat/chat.ts
  frontend/src/api/http/contacts/contacts.ts
  frontend/src/api/http/contacts/contacts.types.ts
  frontend/src/api/http/index.ts
  frontend/src/api/http/user/user.ts
  frontend/src/components/Avatar/Avatar.tsx
  frontend/src/components/Avatar/avatar.types.ts
  frontend/src/components/Chat/Chat.tsx
  frontend/src/components/Chat/InteractiveList/InteractiveList.tsx
  frontend/src/components/Chat/InteractiveList/interactiveList.types.ts
  frontend/src/components/Chat/InteractiveList/variants/ChatList/ChatList.tsx
  frontend/src/components/Chat/InteractiveList/variants/ContactList/ContactList.tsx
  frontend/src/components/Chat/InteractiveList/variants/GlobalContactList/GlobalContactList.tsx
  frontend/src/components/Chat/MainBox/MainBox.tsx
  frontend/src/components/Chat/MainBox/mainBox.types.ts
  frontend/src/components/Chat/MainBox/variants/ChatBox/ChatBox.tsx
  frontend/src/components/Chat/MainBox/variants/ChatBox/chatBox.types.ts
  frontend/src/components/Chat/chat.socketHandlers.ts
  frontend/src/components/Chat/types/handlers.types.ts
  frontend/src/context/SocketContext/socketContext.types.ts
  frontend/src/context/SoundContext/SoundProvider.tsx
Labels: enhancement, frontend

#73 feature/LWB-47_unread-messages-per-chat
  backend/ws-server/README.MD
  backend/ws-server/src/main/java/org/linkwave/ws/repository/ChatRepository.java
  backend/ws-server/src/main/java/org/linkwave/ws/repository/RedisChatRepository.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/route/ChatRoutes.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/route/UnreadMessagesRoutes.java
Labels: documentation, enhancement, backend

#74 feature/LWB-48_fetch-chat-by-id
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatController.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatMemberDetailsDto.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatRepository.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatService.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatServiceImpl.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/group/GroupChatDetailedDto.java
  backend/chat-service/src/main/resources/static/openapi.json
Labels: documentation, enhancement, backend

#75 feature/LWB-49_change-gchat-properties
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatController.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatService.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatServiceImpl.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/group/NewGroupChatRequest.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/group/UpdateGroupChat.java
  backend/chat-service/src/main/resources/application.yml
  backend/chat-service/src/main/resources/static/openapi.json
Labels: documentation, enhancement, backend

#76 feature/LWB-50_delete-group-chats
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatController.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatService.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatServiceImpl.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/duo/Chat.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageService.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageServiceImpl.java
  backend/ws-server/README.MD
  backend/ws-server/src/main/java/org/linkwave/ws/api/chat/ChatMemberDetailsDto.java
  backend/ws-server/src/main/java/org/linkwave/ws/api/chat/ChatServiceClient.java
  backend/ws-server/src/main/java/org/linkwave/ws/repository/ChatRepository.java
  backend/ws-server/src/main/java/org/linkwave/ws/repository/RedisChatRepository.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/dto/Action.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/dto/ChatMessage.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/route/ClientConnectionHandler.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/route/GroupChatRoutes.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/broadcast/SimpleBroadcastManager.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/broadcast/instances/MessageDelegateImpl.java
  backend/ws-server/src/test/java/org/linkwave/ws/unit/SimpleBroadcastManagerTest.java
Labels: documentation, enhancement, backend

#77 feature/LWF-20_group-chats
  frontend/public/avatars/group.png
  frontend/public/icons/crown-outline.svg
  frontend/public/icons/edit-outline.svg
  frontend/public/icons/exit-outline.svg
  frontend/public/icons/index.ts
  frontend/public/icons/minus-circle-outline.svg
  frontend/public/icons/trash-bucket-outline.svg
  frontend/public/icons/users-outline.svg
  frontend/src/api/http/chat/chat.ts
  frontend/src/api/http/contacts/contacts.types.ts
  frontend/src/api/http/index.ts
  frontend/src/api/socket/index.ts
  frontend/src/api/socket/index.types.ts
  frontend/src/components/Avatar/Avatar.tsx
  frontend/src/components/Avatar/avatar.types.ts
  frontend/src/components/Chat/Chat.tsx
  frontend/src/components/Chat/InteractiveList/InteractiveList.tsx
  frontend/src/components/Chat/InteractiveList/interactiveList.types.ts
  frontend/src/components/Chat/MainBox/MainBox.tsx
  frontend/src/components/Chat/MainBox/mainBox.types.ts
  frontend/src/components/Chat/MainBox/variants/ChatBox/ChatBox.tsx
  frontend/src/components/Chat/MainBox/variants/ChatBox/ChatHeader/ChatHeader.tsx
  frontend/src/components/Chat/MainBox/variants/ChatBox/ChatHeader/chatHeader.types.ts
  frontend/src/components/Chat/MainBox/variants/ChatBox/MessageBox/Message/FileMessage.tsx
  frontend/src/components/Chat/MainBox/variants/ChatBox/MessageBox/Message/Message.tsx
  frontend/src/components/Chat/MainBox/variants/ChatBox/MessageBox/Message/fileMessage.styles.css
  frontend/src/components/Chat/MainBox/variants/ChatBox/MessageBox/MessageContainer/MessageContainer.tsx
  frontend/src/components/Chat/MainBox/variants/ChatBox/MessageBox/MessageContainer/messageContainer.types.ts
  frontend/src/components/Chat/MainBox/variants/ChatBox/MessageInput/MessageInput.tsx
  frontend/src/components/Chat/MainBox/variants/ChatBox/chatBox.types.ts
  frontend/src/components/Chat/MainBox/variants/UserInfoBox/InfoBox/InfoTextBox.tsx
  frontend/src/components/Chat/MainBox/variants/UserInfoBox/InfoIconShape/InfoIconShape.tsx
  frontend/src/components/Chat/MainBox/variants/UserInfoBox/UserInfoBox.tsx
  frontend/src/components/Chat/UserItem/variants/ChatItem.tsx
  frontend/src/components/Chat/UserItem/variants/ContactItem.tsx
  frontend/src/components/Chat/chat.socketHandlers.ts
  frontend/src/components/Chat/types/handlers.types.ts
  frontend/src/components/CreateGroupChatModal/CreateGroupChatModal.tsx
  frontend/src/components/CustomButton/CustomButton.tsx
  frontend/src/components/GroupDetailsModal/GroupDetailsButton/GroupDetailsButton.tsx
  frontend/src/components/GroupDetailsModal/GroupDetailsModal.tsx
  frontend/src/components/GroupDetailsModal/MemberItem/MemberItem.tsx
  frontend/src/components/Icon/icon.settings.ts
  frontend/src/components/Modal/Modal.tsx
  frontend/src/components/ScrollList/scrollList.types.ts
  frontend/src/components/Status/Status.tsx
  frontend/src/context/SocketContext/socketContext.types.ts
Labels: enhancement, frontend

#78 feature/LWB-51_endpoint-conditions
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/route/ChatRoutes.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/route/condition/ChatMembership.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/ConditionalRouteHandlerInvocator.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/EndpointCondition.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/RouteComponent.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/RouteHandlerInvocator.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/WebSocketRouterImpl.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/bpp/Endpoint.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/bpp/WebSocketRouterBeanPostProcessor.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/exception/ConditionViolatedException.java
  backend/ws-server/src/test/java/org/linkwave/ws/unit/ConditionalRouteHandlerInvocatorTest.java
  backend/ws-server/src/test/java/org/linkwave/ws/unit/DefaultRouteHandlerArgumentResolverTest.java
  backend/ws-server/src/test/java/org/linkwave/ws/unit/WebSocketRouterBroadcastTest.java
  backend/ws-server/src/test/java/org/linkwave/ws/unit/WebSocketRouterImplTest.java
Labels: enhancement, backend
