Repository L1nkWave/Chat, pull requests merged in 2024-01, with the labels that each got.

#9 feature/LWF-3_setup-dark-theme
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/homePageParallax/back-wave.svg
  frontend/public/images/homePageParallax/front-wave.svg
  frontend/public/images/homePageParallax/link.svg
  frontend/public/images/homePageParallax/middle-wave.svg
  frontend/public/images/homePageParallax/stroke.svg
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/CustomButton/CustomButton.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/HomeContainer/HomeContainer.tsx
  frontend/src/components/HomeContainer/homeContainer.types.ts
  frontend/src/components/HomePageParallax/HomePageParallax.tsx
  frontend/src/components/HomePageParallax/homePageParallax.css
  frontend/src/components/Parallax/Parallax.tsx
  frontend/src/components/ParallaxImage/ParallaxImage.tsx
  frontend/src/components/ParallaxImage/parallaxImage.config.ts
  frontend/src/components/ThemeToggle/ThemeToggle.tsx
  frontend/src/context/ThemeProvider/ThemeProvider.tsx
  frontend/src/utils/colors.ts
  frontend/tailwind.config.ts
Labels: enhancement, frontend

#11 feature/LWF-4_setup-redux
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/components/CustomButton/CustomButton.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/HomePageParallax/HomePageParallax.tsx
  frontend/src/components/HomePageParallax/homePageParallax.css
  frontend/src/context/StoreProvider/StoreProvider.tsx
  frontend/src/lib/features/authSlice.ts
  frontend/src/lib/hooks.ts
  frontend/src/lib/store.ts
Labels: enhancement, frontend

#13 feature/LWF-5_setup-axios
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/context/StoreProvider/StoreProvider.tsx
  frontend/src/redux/features/authSlice.ts
  frontend/src/redux/hooks.ts
  frontend/src/redux/store.ts
Labels: enhancement, frontend

#12 feature/LWB-6_websockets-microservices-integration
  api-gateway/src/main/java/org/linkwave/apigateway/ApiGatewayRouterConfig.java
  ws-server/pom.xml
  ws-server/src/main/java/com/chat/wsserver/utils/RedisTemplateUtils.java
  ws-server/src/main/java/com/chat/wsserver/websocket/RootWebSocketHandler.java
  ws-server/src/main/java/com/chat/wsserver/websocket/WebSocketSessionConfigurer.java
  ws-server/src/main/java/com/chat/wsserver/websocket/WebSocketSessionConfigurerImpl.java
  ws-server/src/main/java/com/chat/wsserver/websocket/dto/ErrorMessage.java
  ws-server/src/main/java/com/chat/wsserver/websocket/dto/OutcomeMessage.java
  ws-server/src/main/java/com/chat/wsserver/websocket/dto/StatusMessage.java
  ws-server/src/main/java/com/chat/wsserver/websocket/jwt/JwtAccessParser.java
  ws-server/src/main/java/com/chat/wsserver/websocket/jwt/JwtHandshakeHandler.java
  ws-server/src/main/java/com/chat/wsserver/websocket/jwt/JwtHandshakeInterceptor.java
  ws-server/src/main/java/com/chat/wsserver/websocket/jwt/Token.java
  ws-server/src/main/java/com/chat/wsserver/websocket/jwt/TokenParser.java
  ws-server/src/main/java/com/chat/wsserver/websocket/jwt/UserPrincipal.java
  ws-server/src/main/java/com/chat/wsserver/websocket/repository/ChatRepository.java
  ws-server/src/main/java/com/chat/wsserver/websocket/repository/RedisChatRepository.java
  ws-server/src/main/java/com/chat/wsserver/websocket/repository/SessionRepository.java
  ws-server/src/main/java/com/chat/wsserver/websocket/route/ClientConnectionHandler.java
  ws-server/src/main/java/com/chat/wsserver/websocket/route/GroupChatRoutes.java
  ws-server/src/main/java/com/chat/wsserver/websocket/routing/Box.java
  ws-server/src/main/java/com/chat/wsserver/websocket/routing/DefaultRouteHandlerArgumentResolver.java
  ws-server/src/main/java/com/chat/wsserver/websocket/routing/Payload.java
  ws-server/src/main/java/com/chat/wsserver/websocket/routing/RouteComponent.java
  ws-server/src/main/java/com/chat/wsserver/websocket/routing/RouteHandlerArgumentResolver.java
  ws-server/src/main/java/com/chat/wsserver/websocket/routing/RoutingMessage.java
  ws-server/src/main/java/com/chat/wsserver/websocket/routing/WebSocketRouterImpl.java
  ws-server/src/main/java/com/chat/wsserver/websocket/routing/bpp/SubRoute.java
  ws-server/src/main/java/com/chat/wsserver/websocket/routing/broadcast/BroadcastManager.java
  ws-server/src/main/java/com/chat/wsserver/websocket/routing/broadcast/SimpleBroadcastManager.java
  ws-server/src/main/java/com/chat/wsserver/websocket/routing/broadcast/SimpleMessageBroadcast.java
  ws-server/src/main/java/com/chat/wsserver/websocket/routing/broadcast/WebSocketMessageBroadcast.java
  ws-server/src/main/java/com/chat/wsserver/websocket/routing/broadcast/instances/MessageDelegateImpl.java
  ws-server/src/main/java/com/chat/wsserver/websocket/routing/parser/MessageParser.java
  ws-server/src/main/java/com/chat/wsserver/websocket/session/AbstractSessionManager.java
  ws-server/src/main/java/com/chat/wsserver/websocket/session/callback/DefaultSessionManager.java
  ws-server/src/main/resources/application.yml
  ws-server/src/main/resources/keys/access_public_key.pem
  ws-server/src/test/java/com/chat/wsserver/unit/ChatRoutesBroadcastT.java
  ws-server/src/test/java/com/chat/wsserver/unit/ChatRoutesT.java
  ws-server/src/test/java/com/chat/wsserver/unit/WebSocketRouterBroadcastTest.java
  ws-server/src/test/java/com/chat/wsserver/unit/WebSocketRouterTest.java
Labels: documentation, enhancement, backend

#14 feature/LWB-7_setup-docker-compose
  .env
  api-gateway/Dockerfile
  auth-service/Dockerfile
  auth-service/pom.xml
  auth-service/src/main/java/org/linkwave/auth/security/SecurityConfig.java
  auth-service/src/main/resources/application.yml
  discovery-service/Dockerfile
  discovery-service/pom.xml
  discovery-service/src/main/resources/application.yml
  docker-compose.yml
  user-service/Dockerfile
  user-service/pom.xml
  user-service/src/main/java/org/linkwave/userservice/UserServiceApplication.java
  user-service/src/main/java/org/linkwave/userservice/security/JwtAuthenticationFilter.java
  user-service/src/main/java/org/linkwave/userservice/security/SecurityConfiguration.java
  user-service/src/main/resources/application.yml
  user-service/src/main/resources/docker-init/users_db.sql
  ws-server/Dockerfile
  ws-server/src/main/java/com/chat/wsserver/config/RedisConfiguration.java
  ws-server/src/main/java/com/chat/wsserver/websocket/jwt/JwtAccessParser.java
  ws-server/src/main/resources/application.yml
  ws-server/src/test/java/com/chat/wsserver/WebSocketServerApplicationTests.java
Labels: enhancement, help wanted, backend
