Repository L1nkWave/Chat, pull requests merged in 2024-04, with the labels that each got.

#46 feature/LWB-28_bind-action
  backend/ws-server/README.MD
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/dto/Action.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/dto/BindMessage.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/route/ChatRoutes.java
Labels: documentation, enhancement, backend

#45 feature/LWB-27_contacts-management
  backend/user-service/src/main/java/org/linkwave/userservice/controller/ContactController.java
  backend/user-service/src/main/java/org/linkwave/userservice/controller/UserController.java
  backend/user-service/src/main/java/org/linkwave/userservice/dto/NewContactRequest.java
  backend/user-service/src/main/java/org/linkwave/userservice/entity/ContactEntity.java
  backend/user-service/src/main/java/org/linkwave/userservice/repository/ContactRepository.java
  backend/user-service/src/main/java/org/linkwave/userservice/service/ContactService.java
  backend/user-service/src/main/java/org/linkwave/userservice/service/impl/ContactServiceImpl.java
  backend/user-service/src/main/resources/static/openapi.json
  backend/user-service/src/test/java/org/linkwave/userservice/unit/ContactServiceImplTest.java
Labels: documentation, enhancement, backend

#47 feature/LWB-29_user-status
  backend/api-gateway/src/main/java/org/linkwave/apigateway/ApiGatewayRouterConfig.java
  backend/user-service/src/main/java/org/linkwave/userservice/controller/UserController.java
  backend/user-service/src/main/java/org/linkwave/userservice/security/JwtAuthenticationFilter.java
  backend/user-service/src/main/java/org/linkwave/userservice/security/SecurityConfiguration.java
  backend/user-service/src/main/java/org/linkwave/userservice/service/UserService.java
  backend/user-service/src/main/java/org/linkwave/userservice/service/impl/DefaultUserService.java
  backend/ws-server/pom.xml
  backend/ws-server/src/main/java/org/linkwave/ws/api/users/UserServiceClient.java
  backend/ws-server/src/main/java/org/linkwave/ws/repository/RedisChatRepository.java
  backend/ws-server/src/main/java/org/linkwave/ws/repository/SessionRepository.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/route/ClientConnectionHandler.java
  backend/ws-server/src/main/resources/application.yml
Labels: enhancement, backend

#48 feature/LWB-30_edit-text-messages
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatService.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatServiceImpl.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageController.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageService.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageServiceImpl.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/text/EditTextMessage.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/text/UpdatedTextMessage.java
  backend/ws-server/README.MD
  backend/ws-server/src/main/java/org/linkwave/ws/api/chat/ChatServiceClient.java
  backend/ws-server/src/main/java/org/linkwave/ws/api/chat/UpdatedTextMessage.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/RootWebSocketHandler.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/route/ChatRoutes.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/WebSocketRouterImpl.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/exception/RoutingException.java
Labels: documentation, enhancement, backend

#49 fix/LWB-32_auth-credentials
  backend/api-gateway/src/main/resources/application.yml
Labels: backend

#51 feature/LWB-33_join-leave-messages-persistence
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatServiceImpl.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageService.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageServiceImpl.java
  backend/ws-server/src/main/java/org/linkwave/ws/api/ApiErrorDecoder.java
  backend/ws-server/src/main/java/org/linkwave/ws/api/ApiErrorException.java
  backend/ws-server/src/main/java/org/linkwave/ws/api/chat/ChatMember.java
  backend/ws-server/src/main/java/org/linkwave/ws/api/chat/ChatServiceClient.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/route/ChatRoutes.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/route/ClientConnectionHandler.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/route/GroupChatRoutes.java
  backend/ws-server/src/test/java/org/linkwave/ws/unit/GroupChatRoutesTest.java
Labels: enhancement, backend

#52 feature/LWB-34_clear-chat-history
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatMemberPermissionsDenied.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatService.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatServiceImpl.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/common/RestExceptionHandler.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageController.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageRepository.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageService.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageServiceImpl.java
  backend/ws-server/README.MD
  backend/ws-server/src/main/java/org/linkwave/ws/api/chat/ChatServiceClient.java
  backend/ws-server/src/main/java/org/linkwave/ws/repository/ChatRepository.java
  backend/ws-server/src/main/java/org/linkwave/ws/repository/RedisChatRepository.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/dto/Action.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/route/ChatRoutes.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/bpp/Broadcast.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/broadcast/SimpleBroadcastManager.java
  backend/ws-server/src/test/java/org/linkwave/ws/unit/SimpleBroadcastManagerTest.java
Labels: documentation, enhancement, backend

#44 feature/LWF-11_refresh-socket-connection
  frontend/.eslintrc.js
  frontend/src/api/http/auth/auth.ts
  frontend/src/api/socket/index.ts
  frontend/src/components/Chat/Chat.tsx
  frontend/src/components/Chat/InteractiveList/InteractiveList.tsx
  frontend/src/components/Chat/InteractiveList/variants/ChatList/chatList.tsx
  frontend/src/components/Chat/InteractiveList/variants/ContactList/contactList.tsx
  frontend/src/components/HomeContainer/HomeContainer.tsx
  frontend/src/context/SocketProvider/SocketProvider.tsx
  frontend/src/context/SocketProvider/socketProvider.config.ts
Labels: enhancement, frontend

#53 feature/LWF-12_user-info-component
  frontend/public/icons/add-circle-outline.svg
  frontend/public/icons/index.ts
  frontend/public/icons/left-angle.svg
  frontend/public/icons/link-outline.svg
  frontend/public/icons/list-outline.svg
  frontend/public/icons/pen-with-message.svg
  frontend/public/icons/remove-circle-outline.svg
  frontend/src/api/http/auth/auth.ts
  frontend/src/app/chat/page.tsx
  frontend/src/components/Chat/Chat.tsx
  frontend/src/components/Chat/InteractiveList/InteractiveList.tsx
  frontend/src/components/Chat/InteractiveList/interactiveList.types.ts
  frontend/src/components/Chat/InteractiveList/variants/ChatList/ChatList.tsx
  frontend/src/components/Chat/InteractiveList/variants/ChatList/chatList.tsx
  frontend/src/components/Chat/InteractiveList/variants/ContactList/ContactList.tsx
  frontend/src/components/Chat/InteractiveList/variants/ContactList/contactList.tsx
  frontend/src/components/Chat/MainBox/MainBox.tsx
  frontend/src/components/Chat/MainBox/mainBox.types.ts
  frontend/src/components/Chat/MainBox/variants/EmptyBox/EmptyBox.tsx
  frontend/src/components/Chat/MainBox/variants/UserInfoBox/InfoBox/InfoTextBox.tsx
  frontend/src/components/Chat/MainBox/variants/UserInfoBox/InfoIconShape/InfoIconShape.tsx
  frontend/src/components/Chat/MainBox/variants/UserInfoBox/InfoIconShape/infoIconShape.types.ts
  frontend/src/components/Chat/MainBox/variants/UserInfoBox/UserInfoBox.tsx
  frontend/src/components/Chat/MainBox/variants/UserInfoBox/userInfoBox.types.ts
  frontend/src/components/Chat/UserItem/UserItem.tsx
  frontend/src/components/Chat/UserItem/userItem.types.ts
  frontend/src/components/Chat/UserItem/variants/ChatItem.tsx
  frontend/src/components/Chat/UserItem/variants/ContactItem.tsx
  frontend/src/components/Container/Container.tsx
  frontend/src/components/Container/container.types.ts
  frontend/src/components/CustomButton/CustomButton.tsx
  frontend/src/components/CustomButton/customButton.config.ts
  frontend/src/components/CustomButton/customButton.types.ts
  frontend/src/components/Form/Form.tsx
  frontend/src/components/Icon/Icon.tsx
  frontend/src/components/Icon/icon.settings.ts
  frontend/src/components/LastSeen/LastSeen.tsx
  frontend/src/components/LastSeen/lastSeen.types.ts
  frontend/src/components/ScrollList/ScrollList.tsx
  frontend/src/components/ScrollList/scrollList.types.ts
  frontend/src/context/SocketContext/SocketContext.tsx
  frontend/src/context/SocketContext/SocketProvider/SocketProvider.tsx
  frontend/src/context/SocketContext/SocketProvider/socketProvider.config.ts
  frontend/src/context/SocketContext/socketContext.types.ts
  frontend/src/context/SocketProvider/SocketProvider.tsx
  frontend/src/helpers/contactHelpers.ts
  frontend/src/lib/features/socket/socketSlice.config.ts
  frontend/src/lib/features/socket/socketSlice.ts
  frontend/src/lib/features/socket/socketSlice.types.ts
  frontend/src/lib/store.ts
Labels: enhancement, frontend

#54 feature/LWB-35_gchat-members-management
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatController.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatMemberDto.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatService.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatServiceImpl.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/common/BadRequestDataException.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/common/RestExceptionHandler.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/Action.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageService.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageServiceImpl.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/member/MemberMessage.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/member/MemberMessageDto.java
  backend/ws-server/README.MD
  backend/ws-server/src/main/java/org/linkwave/ws/api/chat/ChatMemberDetailsDto.java
  backend/ws-server/src/main/java/org/linkwave/ws/api/chat/ChatMemberDto.java
  backend/ws-server/src/main/java/org/linkwave/ws/api/chat/ChatRole.java
  backend/ws-server/src/main/java/org/linkwave/ws/api/chat/ChatServiceClient.java
  backend/ws-server/src/main/java/org/linkwave/ws/repository/ChatRepository.java
  backend/ws-server/src/main/java/org/linkwave/ws/repository/RedisChatRepository.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/dto/Action.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/dto/ChatRoleMessage.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/dto/MemberMessage.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/dto/NewChatRole.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/route/GroupChatRoutes.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/broadcast/instances/MessageDelegateImpl.java
  backend/ws-server/src/test/java/org/linkwave/ws/unit/GroupChatRoutesTest.java
Labels: documentation, enhancement, backend

#55 feature/LWB-36_flex-broadcast-manager
  backend/ws-server/README.MD
  backend/ws-server/src/main/java/org/linkwave/ws/repository/RedisChatRepository.java
  backend/ws-server/src/main/java/org/linkwave/ws/repository/SessionRepository.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/route/GroupChatRoutes.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/RoutingAutoConfig.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/bpp/Broadcast.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/bpp/Broadcasts.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/bpp/WebSocketRouterBeanPostProcessor.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/broadcast/BroadcastRepositoryResolver.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/broadcast/BroadcastRepositoryResolverImpl.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/broadcast/FlexBroadcastManager.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/broadcast/SimpleBroadcastManager.java
  backend/ws-server/src/test/java/org/linkwave/ws/unit/BroadcastRepositoryResolverTest.java
  backend/ws-server/src/test/java/org/linkwave/ws/unit/FlexBroadcastManagerTest.java
Labels: documentation, enhancement, backend

#56 feature/LWB-37_optimize-db-transactions-usage
  backend/chat-service/src/main/java/org/linkwave/chatservice/api/ServiceErrorException.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/chat/ChatServiceImpl.java
Labels: enhancement, backend

#57 feature/LWB-38_mib-property
  backend/docker-compose.yml
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/route/ClientConnectionHandler.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/routing/broadcast/SimpleBroadcastManager.java
  backend/ws-server/src/main/resources/application.yml
  backend/ws-server/src/test/java/org/linkwave/ws/unit/SimpleBroadcastManagerTest.java
Labels: enhancement, backend

#58 feature/LWB-39_file-message
  backend/chat-service/pom.xml
  backend/chat-service/src/main/java/org/linkwave/chatservice/api/ws/WSServiceClient.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/Action.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageController.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageService.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/MessageServiceImpl.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/file/CreatedFileMessage.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/file/FileMessage.java
  backend/chat-service/src/main/java/org/linkwave/chatservice/message/file/FileMessageDto.java
  backend/chat-service/src/main/resources/application.yml
  backend/chat-service/src/main/resources/static/openapi.json
  backend/shared/src/main/java/org/linkwave/shared/storage/LocalFileStorageService.java
  backend/ws-server/README.MD
  backend/ws-server/src/main/java/org/linkwave/ws/api/chat/ChatServiceClient.java
  backend/ws-server/src/main/java/org/linkwave/ws/api/chat/CreatedFileMessage.java
  backend/ws-server/src/main/java/org/linkwave/ws/controller/WSChatsController.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/dto/Action.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/dto/OutcomeFileMessage.java
  backend/ws-server/src/main/java/org/linkwave/ws/websocket/route/ChatRoutes.java
Labels: documentation, enhancement, backend
